@using System.Security.Claims

@if (Context.User.Identity?.IsAuthenticated == true)
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul class="nav navbar-nav d-flex align-items-center">
            <li class="d-none d-sm-inline">
                <a class="btn btn-link navbar-link text-dark"
                   style="cursor: pointer; text-decoration: none; padding-left: 0"
                   asp-area=""
                   asp-controller="Account"
                   asp-action="Manage"
                   asp-route-id="@Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value">
                    <img src="/assets/user.svg" alt="User Icon"
                         class="rounded-circle p-1 user-icon" />
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link text-dark" style="text-decoration: none; padding-left: 0">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav">
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Registration">Register</a></li>
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}
