@model dash.Entities.Permission

<form asp-action="AddPermission" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="text-danger" id="js-error"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary mt-2" />
    </div>
</form>
