@{
    ViewData["Title"] = "Admin";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Permissions">View/Edit Permissions</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Users">View/Edit Users</a>
